<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>yjg</display-name>
  <session-config>
    <session-timeout>15</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>user</servlet-name>
    <servlet-class>user.userController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user</servlet-name>
    <url-pattern>/user_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>guest</servlet-name>
    <servlet-class>guest.GuestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>guest</servlet-name>
    <url-pattern>/guest_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChatSubmitServlet</servlet-name>
    <servlet-class>chat.ChatSubmitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatSubmitServlet</servlet-name>
    <url-pattern>/chatSubmitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChatListServlet</servlet-name>
    <servlet-class>chat.ChatListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatListServlet</servlet-name>
    <url-pattern>/chatListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>board</servlet-name>
    <servlet-class>board.BoardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>board</servlet-name>
    <url-pattern>/board_servlet/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>